USE [foo_db]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12-10-2018 17:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Message] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 12-10-2018 17:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[ShortContent] [varchar](200) NULL,
	[Content] [varchar](max) NULL,
	[Image] [varchar](200) NULL,
	[ThumbImage] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 12-10-2018 17:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](max) NULL,
	[Icon] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 12-10-2018 17:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](20) NULL,
	[Email] [varchar](500) NULL,
	[Mobile] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [Name], [Phone], [Email], [Message]) VALUES (1, N'Allen', N'8877665544', N'allen@gmail.com', N'Some Messageq')
INSERT [dbo].[Contact] ([ID], [Name], [Phone], [Email], [Message]) VALUES (2, N'sdfsd', N'fsd', N'sfdfs', N'sdfs')
INSERT [dbo].[Contact] ([ID], [Name], [Phone], [Email], [Message]) VALUES (3, N'adas', N'ada', N'adasd', N'adad')
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Name], [Description], [Icon]) VALUES (1, N'Service One', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.', N'fa-tree')
INSERT [dbo].[Service] ([ID], [Name], [Description], [Icon]) VALUES (2, N'Service Two', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.', N'fa-car')
INSERT [dbo].[Service] ([ID], [Name], [Description], [Icon]) VALUES (3, N'Service Three', N'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.', N'fa-support')
SET IDENTITY_INSERT [dbo].[Service] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Mobile]) VALUES (1, N'john', N'john123', N'john@gmail.com', N'9988776655')
INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Mobile]) VALUES (2, N'allen', N'allen123', N'allen@gmail.com', N'7788776655')
INSERT [dbo].[User] ([ID], [UserName], [Password], [Email], [Mobile]) VALUES (3, N'smith', N'smith123', N'smith@gmail.com', N'6588776655')
SET IDENTITY_INSERT [dbo].[User] OFF
